body {
  background-color: #121212;
  color: #fff;
  margin: 0;
  font-family: Arial, sans-serif;
  padding: 0;
  height: 100%;
}

.pageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Centraliza verticalmente na tela */
}

.icon {
  margin-right: 20px;
  width: 300px; /* Ajuste o tamanho para ficar proporcional */
  height: auto;
}

/* Garantir que o container do componente tenha um fundo escuro também */
.container {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: #121212;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

/* Estilo para o título */
h2 {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

/* Estilos para input, select e button */
input,
select,
button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  box-sizing: border-box;
}

button {
  background-color: #6200ea;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

.error {
  color: red;
  text-align: center;
  margin-top: 20px;
}

.result {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}